<footer
  class="text-center text-lg-start text-white w-100"
  style="background-color: #1c2331"
>
  <!-- Social Section -->
  <section
    class="d-flex justify-content-between p-4 social-section"
    style="background-color: hsl(250, 67%, 52%)"
  >
    <div class="me-5">
      <span>Follow us on social media for the latest university updates!</span>
    </div>
    <div class="social-links">
      <a href="https://www.facebook.com/unibz" class="me-4"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a href="https://www.tiktok.com/@unibz" class="me-4"
        ><i class="fab fa-tiktok"></i
      ></a>
      <a href="https://www.instagram.com/unibz" class="me-4"
        ><i class="fab fa-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/company/833389" class="me-4"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UCWRr0vMGqdmyqzdm3bNGY4Q"
        class="me-4"
        ><i class="fab fa-youtube"></i
      ></a>
    </div>
  </section>

  <!-- Main Section -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <!-- About Us -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">
            Libera Università di Bolzano | unibz
          </h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #005030; height: 2px"
          />
          <p>
            A trilingual, internationally-oriented university offering
            innovative academic education in the heart of the Dolomites. Join
            our diverse academic community!
          </p>
        </div>

        <!-- Faculties -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Faculties</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #005030; height: 2px"
          />
          <p>
            <a
              href="https://www.unibz.it/en/faculties/economics-management/"
              class="text-white"
              >Economics</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/en/faculties/design-art/"
              class="text-white"
              >Design & Art</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/en/faculties/education/"
              class="text-white"
              >Education</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/en/faculties/engineering/"
              class="text-white"
              >Engineering</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/en/faculties/agricultural-environmental-food-sciences/"
              class="text-white"
              >Food Science</a
            >
          </p>
        </div>

        <!-- Useful Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Quick Links</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #005030; height: 2px"
          />
          <p>
            <a href="https://my.scientificnet.org/" class="text-white"
              >Student Portal</a
            >
          </p>
          <p>
            <a
              href="https://guide.unibz.it/assets/life-on-campus/academic-calendar/2024-11-11-Academic-calendar-2025-264.pdf"
              class="text-white"
              >Academic Calendar</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/en/services/library/"
              class="text-white"
              >Library</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/en/services/language-centre/"
              class="text-white"
              >Language center</a
            >
          </p>
          <p>
            <a
              href="https://www.unibz.it/it/home/organisation/career-service/"
              class="text-white"
              >Career Service</a
            >
          </p>
        </div>

        <!-- Contact -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr
            class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 60px; background-color: #005030; height: 2px"
          />
          <p><i class="fas fa-envelope me-3"></i> info&#64;unibz.it</p>
          <p><i class="fas fa-phone me-3"></i> +39 0471 012 200</p>
          <p>
            <i class="fas fa-map-marker-alt me-3"></i> Piazza Università 1,
            39100 Bolzano, Italy
          </p>
          <p>
            <i class="fas fa-clock me-3"></i> Mon-Fri: 9:00 AM - 5:00 PM CET
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-3 copyright">
    © 2025 Copyright:
    <a href="https://www.unibz.it/">Libera Università di Bolzano | Free University of Bozen-Bolzano</a>
    - All rights reserved
  </div>
</footer>
